.addPdf
{
	transition: opacity 0.5s ease-out;
	opacity:0;
	position:absolute;
	display:none;
	cursor:pointer;
	right:30px;
	bottom:5px;
	width:58px;
	height:58px;
	background:url(../pics/add_button.png) no-repeat 7px 3px;z-index:30
}
.addPdf:hover
{
	background-position:-52px 3px
}
.addPdf.added
{
	/*opacity:1 !important;*/
	/*display:block !important; */
	background-position:-112px 3px
}
.addPdf.added:hover
{
	background-position:-172px 3px
}
.staticCounter
{
	font-size: 8pt;
	color: white;
	z-index: 100;
	text-align: center;
	vertical-align: middle;
	position:fixed;
	right:50px;
	top:300px;
	width:75px;
	height:75px;
	background-color:black;
	border-radius: 75px;
}
.staticCounter:hover
{
	background-color:brown;
}
.pics
  {
	margin: 0px 5px 0px 0px;
	height:140px;
  }
  .linkButton { 
     background: none;
     border: none;
     color: #000000;
     cursor: pointer; 
	}
	.col
	{
		display: inline-block;
		text-align: center;
	}
	
	.listItemStyle
	{
		position: relative;
		float: left;
		margin-right: 10px;
		list-style: none;
	}
	
	.listStyle
	{
		position: relative;
		float: left;
		width: 100%;
	}
#chooseLayoutDiv
{
	display: inline-block;
	position: relative;
}
#picturesDiv
{
	width:100%;
	display: inline-block;
	position: relative;
}