@media screen and (max-width: 600px) {
  .page-content,
  .entry-content,
  .entry-summary {
      margin: 0 15px 0;
  }
    


#authorName h2 {
    font-size: 20px;
font-weight: 700;
line-height: 19px;
letter-spacing: 5px;
}

#authorName h4 {
font-size: 11px;
font-weight: 400;
line-height: 19px;
letter-spacing: 3px;
}
        
        
  .li.gallery-item {
    position: relative;
    width: 100%;
  }

  .og-grid li {
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
  }

  .og-grid li > a,
  .og-grid li > a img {
    width: 100%;
  }
    
    #SubMenuNavigation > li.current_page_item li {
    padding-right: 100px;
}
    
}

@media screen and (max-width: 1060px) {
    #SubMenuNavigation > li.current_page_item li {
    float: none;
    padding-right: 100px;
    }
}

.og-fullimg {
  cursor: url(../../img/cursor-left.png), default;
}

.og-fullimg.right-cursor {
  cursor: url(../../img/cursor-right.png), default;
}


    #primary-menu  img, #primary-menu  .sub-menu {
        display: none;
    }
    